body{
  background-color: rgb(94, 40, 159);
}

.container{
  text-align: center;
  background-color: rgb(185, 80, 176);
  width: 700px;
  height: 300px;
  display: block;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  border-radius: 6px;
  margin-top: 20px;
}

.header{
text-align: center;
font-weight: 500;
font-size: 50px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color: rgb(201, 195, 245);
margin-bottom: 6px;

}

.box{
  width: 500px;
  height: 28px;
  border-radius: 5px;
  background-color: aliceblue;
}

button{
  height: 32px;
  border-radius: 5px;
  background-color: rgb(162, 210, 255);
  width:45px ;
}

